$bigHeaderHeight: 250px;
$smallHeaderHeight: 75px;

.Header {
  background-color: #333F50;
  height: $bigHeaderHeight;
  position: sticky;
  top: $smallHeaderHeight - $bigHeaderHeight;
  overflow: hidden;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;


  .info {
    color: #FFFFFF;
  }

  .small-header {
    position: absolute;
    bottom: 0;
    height: $smallHeaderHeight;
    box-sizing: border-box;
    width: 100%;
    max-width: 850px;
    padding-inline: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    &.big {
      height: 140px;
      width: 100%;
      margin-top: 10px;
      //position: absolute;
      //top: 53px;
    }
    &.small {
      height: 35px;
      width: 110px;
    }
  }
}