.Home {
  .contents {
    max-width: 800px;
    min-height: calc(100vh - 75px);
    margin-inline: auto;
    padding-inline: 5px;
    display: flex;
    flex-direction: column;

    p {
      font-size: 20px;
      font-weight: 400;
      margin: 15px 0 5px;
    }
  }
}